.counter {
  align-self: flex-end;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid var(--border-color);

  > div {
    cursor: pointer;
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .counter {
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;
  }
}
