.page {
  display: flex;
  gap: 5.3125rem;
}

.gallery {
  display: flex;
  gap: .625rem;
  width: 50%;
}

.previewImages {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.preview {
  width: 5.625rem;
  height: 5.625rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.mainImage {
  width: 100%;
  height: 537px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0;
}

.name {
  margin-bottom: 5rem;
}

.description {
  margin-bottom: 2.8125rem;
}

.price {
  display: flex;
  align-items: flex-end;
  gap: .9375rem;
  font-size: 2.5rem;
  font-weight: 600;

  sub {
    font-size: 1.25rem;
    text-decoration: line-through;
    color: var(--old-price-text-color);
    font-weight: 400;
  }
}

.buy {
  margin-top: auto;
  display: flex;
  gap: 1.25rem;
}

.counter {
  align-self: flex-end;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid var(--border-color);

  > div {
    cursor: pointer;
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .counter {
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;
  }

  .buy {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .name {
    margin-bottom: 2.5rem;
  }

  .gallery {
    width: 100%;
    flex-direction: column;
  }

  .previewImages {
    order: 1;
  }

  .page {
    flex-direction: column;
    gap: 2.5rem;
  }

  .info {
    padding: 0 0 1rem 0;
  }
}
